@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
}

.pageWrapper {
    margin: 0 auto;
    max-width: 1000px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.formGroup {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
